* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@keyframes animateText {
  0%,
  95%,
  100% {
    background-position: -510px 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

.animate-text {
  -webkit-text-stroke: 0.5px white;
  animation: animateText 6s linear infinite;
}

.overlay:target {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: auto;
}

.section__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.section__card:hover::before {
  width: 400%;
}
